/* ||| STYLING ||| */


/* || GENERAL STYLES */

body {
    font-family: Roboto, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* ... */

/* || LISTS */

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin: 0 16px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #EAE9BE;;
}

/* ... */

/* || HEADER, BODY, FOOTER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 32px;
    font-weight: 800;
    color: #FFE7BD;
    background-color: #0C5679;
    padding: 0 16px;
}

/* ... */

/* || Images */

/* ... */

/* ||||||||||||||| */