/* ||| STYLING ||| */


/* || GENERAL STYLES */

body {
    font-family: Roboto, sans-serif;
    background-color: white;
    color: #0B0835;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* ... */

/* || LISTS */

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin: 0 16px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #EAE9BE;;
}

/* ... */

/* || HEADER, BODY, FOOTER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 0;
    height: 100px;
    font-size: 32px;
    font-weight: 800;
    color: #FFE7BD;
    background-color: #0B0835;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    gap: 16px;
}

.information {
    background-color: #0B0835;
}

.infoImgList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
    margin-top: 32px;
    padding-bottom: 36px;

}

.quoteSection {
    background-color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 20px;
}

/* ... */

/* || IMAGES */

.hero img {
    display: flex;
    max-width: 1290px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

/* ... */

/* BUTTONS */

.hero button {
    display:flex;
    padding: 8px 16px;
    background-color: #F28A0F;
    border-radius: 10px;
    border-color: #d97d0d;
    border-style: initial;
}

.hero button:hover {
    background-color: #d97d0d;
}
/* ... */

/* TEXTS */

.boldTextHero {
    font-size: 48px;
    font-weight: 800;
    color: #0B0835;
}

.smallTextHero {
    font-size: 18px;
    color: #0B0835;
}

.boldTextInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
}

.infoSubText {
    color: white;
    font-size: 18px;
    text-align: center;
}

.quoteSectionText {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* ||||||||||||||| */