/* ||| STYLING ||| */


/* || GENERAL STYLES */

body {
    font-family: Roboto, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* ... */

/* || LISTS */

ul {
    list-style-type: none;
}

ul li {
    margin: 0 16px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
/* ... */

/* || HEADER, BODY, FOOTER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

/* ... */




/* ||||||||||||||| */